$border-color: rgb(78, 78, 252);
$hover-border-color: blue;
$font-size-large: 60px;
$font-size-medium: 22px;

.mestravaux {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 80px;
  margin: 80px 170px;

  .mestravaux-titre {
    position: relative;

    h1 {
      padding: 0px 30px;
      font-size: $font-size-large;
      font-weight: 600;
    }

    img {
      position: absolute;
      bottom: 0;
      right: 0;
      z-index: -1;
    }
  }

  .mestravaux-contenu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    width: 100%;

    img {
      box-sizing: border-box;
      border: 2px solid $border-color;
      border-radius: 5px;
      width: 100%;
      max-width: 270px;
      height: 200px;
      transition: 0.3s;
      cursor: pointer;

      &:hover {
        transform: scale(1.10);
        border: 4px solid $hover-border-color;
        border-radius: 10px;
        transition: 0.3s;
      }
    }
  }

  .montravail-montreplus {
    display: flex;
    gap: 20px;
    border-radius: 50px;
    border: 2px solid white;
    padding: 30px 60px;
    font-size: $font-size-medium;
    font-weight: 500;
    margin-bottom: 80px;
    transition: 0.6s;
    cursor: pointer;

    a {
      display: flex;
      align-items: center;
      text-decoration: none;
      color: inherit;

      &:hover {
        gap: 30px;
        transition: 0.6s;
      }
    }

    img {
      width: 25px;
      height: 25px;
      margin-left: 10px;
    }

    &:hover {
      gap: 30px;
      transition: 0.6s;
    }
  }
}

@media (max-width: 768px) {
  .mestravaux {
    gap: 50px;
    margin: 30px 40px;
    align-items: flex-start; 
  }

  .mestravaux-titre h1 {
    padding: 0;
    font-size: 60px !important;
    font-weight: 600;
  }

  .mestravaux-contenu {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 5px;

    img {
      width: 100%;
      max-width: 200px;
      height: 80px;
    }
  }

  .montravail-montreplus {
    padding: 20px 40px;
    font-size: 14px;
    margin: 50px auto;
    cursor: pointer;
  }
}
