.Contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 80px 170px;
}

.Contact-titre {
    position: relative;
}
.Contact-titre h1 {
    padding: 0px 30px;
    font-size: 80px;
    font-weight: 600;
}
.Contact-titre img {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
}

.contact-detail img {
    width: 25px;
    height: 25px;
}

.section-contacter {
    display: flex;
    gap: 150px;
}

.contact-gauche {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.contact-gauche h1 {
    font-size: 60px;
    font-weight: 700;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,85,121,1) 36%, rgba(1,21,234,1) 90%, rgba(0,212,255,1) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.contact-gauche p {
    max-width: 550px;
    font-size: 20px;
    line-height: 35px; 
}

.contact-details {
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-size: 22px;
}

.contact-detail {
    display: flex;
    align-items: center;
    gap: 30px;
}

.contact-droite {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 30px;
}

.contact-droite label {
    color: rgb(230, 230, 230);
    font-size: 22px;
    font-weight: 500;
}
.contact-droite input {
    border: none;
    width: 500px;
    height: 78px;
    padding-left: 20px;
    border-radius: 4px;
    background: #32323c;
    color: #A0A0A0;
    font-size: 20px;
}

.contact-droite textarea {
    width: 500px;
    border: none;
    padding: 25px;
    border-radius: 4px;
    background: #32323c;
    color: #A0A0A0;
    font-size: 20px;
    font-family: 'Inter', sans-serif;
}

.Contact-Envoyez {
    border: none;
    color: white;
    border-radius: 50px;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,85,121,1) 36%, rgba(1,21,234,1) 90%, rgba(0,212,255,1) 100%);
    font-size: 22px;
    padding: 20px 60px;
    margin-bottom: 50px;
    cursor: pointer;
    transition: 0.3s;
}

.Contact-Envoyez:hover {
    transform: scale(1.1);
    transition: 0.3s;
}
