* {
    margin: 0;
    padding: 0;
}

:root {
    --background-color: rgb(40, 46, 77);
    --text-color: rgb(241, 241, 241);
}

[data-theme="dark"] {
    --background-color: rgb(20, 22, 40);
    --text-color: rgb(200, 200, 200);
}

body {
    height: 100vh;
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: 'Inter', sans-serif;
    transition: background-color 0.3s ease, color 0.3s ease;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}


  