.navBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px 100px;
    & .divtest {
      width: 75px;
      height: 75pxpx;
      animation: example 3s infinite; 
    }
  }  
    .nav-close,
    .nav-open {
      display: none;
    }

  .nav-menu {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 60px;
    font-size: 20px;



  
    li {
      position: relative;
  
      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0%;
        height: 2px;
        background-color: rgb(255, 255, 255);
        transition: width 3s ease-in-out;
      }
  
      &:hover {
        cursor: pointer;
  
        &::after {
          width: 100%;
        }
      }
    }
  }
  
  .connect {
    padding: 20px 40px;
    border-radius: 50px;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,85,121,1) 36%, rgba(1,21,234,1) 90%, rgba(0,212,255,1) 100%);
    font-size: 22px;
    cursor: pointer;
    transition: 0.5s;
  
    &:hover {
      transform: scale(1.05);
    }
  }

  @keyframes example {
    0%   {
        filter: brightness(1);
        filter: contrast(1);
        -webkit-filter: brightness(1);
        -webkit-filter: contrast(1);
    }
    50%  {
        filter: brightness(0.4);
        filter: contrast(0.4);
        -webkit-filter: brightness(0.4);
        -webkit-filter: contrast(0.4);
    }
    100% {
        filter: brightness(1);
        filter: contrast(1);
        -webkit-filter: brightness(1);
        -webkit-filter: contrast(1);
    }
}


@media (max-width:768px)  {
  .navBar {
    margin: 20px 50px;
  }

  .connect {
    display: none;
  }

  .nav-open {
    display: block;
    position: fixed;
    right: 30px;
  }

  .nav-close {
    display: block;
    position: relative;
    top: 30px;
    left: 270px;
    width: 30px;
  }

  .nav-menu {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: start;
    top: 0;
    gap: 90px;
    background-color: rgb(23, 17, 57);
    width: 350px;
    height: 100%;
    z-index: 2;
    transition: right 0.5s;
    right: -350px;

    li {
      font-size: 30px;
      padding-left: 100px;
      flex-direction: row;
      gap: 20px;

      &::after {
        transition: none;
      }

      &:hover {
         &::after {
          width: 200%;
         }
      }
    }
  }
}
  

  