.AProposDeMoi {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 80px 170px;

    .AProposDeMoi-titre {
        position: relative;

        h1 {
            padding: 0px 30px;
            font-size: 60px;
            font-weight: 600;
        }

        img {
            position: absolute;
            bottom: 0;
            right: 0;
            z-index: -1;
        }
    }

    .sections-AProposDeMoi {
        display: flex;
        gap: 80px;

        img {
            border-radius: 50%;
            object-fit: cover;
        }
    }

    .APropos-droit {
        display: flex;
        flex-direction: column;
        gap: 80px;
    }

    .APropos-paragraphe {
        display: flex;
        flex-direction: column;
        gap: 20px;
        font-size: 24px;
        font-weight: 500;

        & .survoler {
            font-style: italic;
            color: grey;
        }
    }

    .APropos-mescompetences {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .APropos-competence {
        display: flex;
        gap: 50px;
        align-items: center;
        transition: 0.3s;

        p {
            min-width: 150px;
            font-size: 24px;
            font-weight: 500;
        }

        .underlineClick {
            cursor: pointer;
            position: relative;

            &:hover {
                text-decoration: none;
            }

            &::after {
                content: "Click!";
                position: absolute;
                bottom: -25px;
                left: 50%;
                transform: translateX(-50%);
                background-color: #333;
                color: white;
                padding: 5px 10px;
                border-radius: 5px;
                font-size: 12px;
                white-space: nowrap;
                opacity: 0;
                pointer-events: none;
                transition: opacity 0.3s ease;
            }

            &:hover::after {
                opacity: 1;
            }
        }

        hr {
            outline: none;
            border: none;
            width: 50%;
            height: 8px;
            border-radius: 50px;
            background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 85, 121, 1) 36%, rgba(1, 21, 234, 1) 90%, rgba(0, 212, 255, 1) 100%);
        }

        &:hover {
            transform: scale(1.05);
            transition: 0.3s;
        }
    }

    .accomplissements {
        display: flex;
        width: 100%;
        justify-content: space-around;
        margin-bottom: 80px;

        &:hover {
            transform: scale(1.12);
            transition: 0.5s;

        }

        .mon-accomplissement {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;
            transition: 0.5s;
            cursor: pointer;
            position: relative; 


            h1 {
                font-size: 60px;
                font-weight: 700;
                background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 85, 121, 1) 36%, rgba(1, 21, 234, 1) 90%, rgba(0, 212, 255, 1) 100%);
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;


            }

            p {
                font-size: 22px;
                font-weight: 500;
            }

            &::after {
                content: "Timeline !";
                position: absolute;
                bottom: 110%; 
                left: 50%;
                transform: translateX(-50%);
                background-color: rgba(0, 0, 0, 0.8);
                color: white;
                padding: 6px 10px;
                font-size: 14px;
                border-radius: 5px;
                white-space: nowrap;
                opacity: 0; 
                pointer-events: none; 
                transition: opacity 0.3s ease-in-out; 
            }

            &:hover::after {
                opacity: 1; 
            }
        }
    }

    .apparition {
        opacity: 0;
        transform: translateX(-100%);
        transition: opacity 2s ease, transform 2s ease;
    }

.showCompetence{
        transform: translate(-50%, -50%) translateY(-325px) translateX(200px);
        z-index: 1;
        transition: transform 0.5s ease, z-index 0s;
    }

    .close-button {
        position: absolute;
        top: -240px;
        left: 215px;
        background: none;
        width: auto;
        border: none;
        cursor: pointer;
        font-size: 24px;
        color: #000000;
        display: flex;
        align-items: center;
        justify-content: center;
    
        &:hover {
            color: rgb(55, 0, 255);
        }
    }
    
}

@media(max-width:768px) {
    .AProposDeMoi {
        gap: 80px;
        margin: 50px 70px;
        align-items: start;
    }
    .AProposDeMoi-titre h1 {
        padding: 1px 1px !important; 
        font-size: 45px !important;
        font-weight: 600 !important;
    }
    .sections-AProposDeMoi {
        flex-direction: column;
    }
    .APropos-gauche,
    .close-button{
        display: none;
    }
    .APropos-paragraphe {
        font-size: 18px;
        line-height: 32px;
    }
    .APropos-competence {
        gap: 20px;
        align-items: center;

        & p {
            font-size: 18px;
        }

        & hr {
            height: 4px;
        }
    }

    .accomplissements {
        justify-content: space-between;

        & .mon-accomplissement {
            gap: 10px;
            & .hr {
                font-size: 24px;
                font-weight: 700;
            }
            & p {
                text-align: center;
                font-size: 14px;
            }
        }
    }
}
