.AProposDeMoi {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 80px 170px;

    .AProposDeMoi-titre {
        position: relative;

        h1 {
            padding: 0px 30px;
            font-size: 60px;
            font-weight: 600;
        }

        img {
            position: absolute;
            bottom: 0;
            right: 0;
            z-index: -1;
        }
    }

    .sections-AProposDeMoi {
        display: flex;
        gap: 80px;

        img {
            border-radius: 50%;  // Applique le rayon pour arrondir les coins en cercle
            object-fit: cover;  // Permet de garder l'image bien cadrée dans le cercle
        }
    }

    .APropos-droit {
        display: flex;
        flex-direction: column;
        gap: 80px;
    }

    .APropos-paragraphe {
        display: flex;
        flex-direction: column;
        gap: 20px;
        font-size: 24px;
        font-weight: 500;
    }

    .APropos-mescompetences {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .APropos-competence {
        display: flex;
        gap: 50px;
        align-items: center;
        transition: 0.3s;

        p {
            min-width: 150px;
            font-size: 24px;
            font-weight: 500;
        }

        .underlineClick {
            cursor: pointer;
            position: relative; /* Nécessaire pour positionner le soulignement */
        
            &:hover {
                text-decoration: none; /* Supprime le soulignement par défaut */
            }
        
            &:hover::after {
                content: ""; /* Crée un pseudo-élément */
                position: absolute;
                bottom: -5px; /* Position du soulignement en dessous du texte */
                left: 0;
                width: 50%;
                height: 2px; /* Épaisseur du soulignement */
                background-color: #4e4e4e; /* Couleur du soulignement */
                transition: width 0.3s ease; /* Transition fluide */
            }
        }        


        hr {
            outline: none;
            border: none;
            width: 50%;
            height: 8px;
            border-radius: 50px;
            background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 85, 121, 1) 36%, rgba(1, 21, 234, 1) 90%, rgba(0, 212, 255, 1) 100%);
        }

        &:hover {
            transform: scale(1.05);
            transition: 0.3s;
        }
    }

    .accomplissements {
        display: flex;
        width: 100%;
        justify-content: space-around;
        margin-bottom: 80px;

        &:hover {
            transform: scale(1.12);
            transition: 0.5s;
        }

        .mon-accomplissement {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;
            transition: 0.5s;

            h1 {
                font-size: 60px;
                font-weight: 700;
                background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 85, 121, 1) 36%, rgba(1, 21, 234, 1) 90%, rgba(0, 212, 255, 1) 100%);
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }

            p {
                font-size: 22px;
                font-weight: 500;
            }
        }
    }

    // Effet apparition
    .apparition {
        opacity: 0;
        transform: translateX(-100%);
        transition: opacity 2s ease, transform 2s ease;
    }

    // Classe pour animer l'affichage du composant Figma


    .showCompetenceFigma,
    .showCompetenceHtmlCss,
    .showCompetenceReactJs,
    .showCompetenceJavascript,
    .showCompetenceScss,
    .showCompetencePhp,
    .showCompetenceMaya,
    .showCompetenceGithub,
    .showCompetenceWordpress {
        transform: translate(-50%, -50%) translateY(-250px) translateX(250px); /* Ajustez la position selon l'effet désiré */
        z-index: 1; /* Affiche le composant au-dessus */
        transition: transform 0.5s ease, z-index 0s; /* Transition lisse pour le mouvement */
    }
    
}
