* {
    margin: 0;
    padding: 0;
}
body {
    height: 100vh;
    background-color: rgb(40, 46, 77);
    color: rgb(241, 241, 241);
    font-family: 'Inter', sans-serif;
}
html {
    scroll-behavior: smooth;
}
  